.mevieDispaly{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
}
.entire_moviedetails{
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 30px;
    margin-left: 50px;
    margin-top: 100px;
}
.movies_imageDisply{
    width: 300px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
}
.movieDispaly_title{
    padding-left: 20px;
    width: 250px;
}
.movieDispaly_releasedate{
    padding-left: 20px;
}